.text-center{
    text-align: center;
}
.bg-red{
    background: red;
width: 100%;
}
.mx-auto{
    margin: auto;
}
.m-w-20{
    max-width:20vw ;
}
.button{
    width:66px;

    margin: 0 3px;
    padding:20px;
border: 2px solid black ;
border-radius:4px ;
cursor: pointer;
}
.flex {
display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;

}
.row{
    margin: 8px 0;
}

.row input{
    width:291px;

    border-radius: 5px;
    margin: 0;
    padding: 10px 0;
    font-size: 15px;
    margin: 0;
    border:2px solid black;
    padding: 10px 38px;

}
